
<div class="d-flex bg-info ">
    <div class="p-2 flex-grow-1 bd-highlight"><h3> Employee Management</h3></div>
    <div class="p-2">
      <a class="btn btn-outline-primary bg-light text-dark" [routerLink]="['/create-Employee']"> Create Employee</a>
    </div>
    <div class="p-2 bd-highlight">
      <a class="btn btn-outline-primary bg-light text-dark" [routerLink]="['/employee-list']">Employee List</a>
    </div>
  </div>
  <div class="col md-12 pt-5 ">
  <router-outlet></router-outlet>
</div>
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>